<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='img/icon.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <link rel="manifest" href="{{url_for('static', filename='manifest.json')}}">
    <style>
      ::-webkit-scrollbar {
        width: 5px;
      }

      ::-webkit-scrollbar-track {
        background: gainsboro;
        border-radius: 5px;
      }

      ::-webkit-scrollbar-thumb {
        background: rgb(37, 37, 37);
        border-radius: 5px;
      }

      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    </style>
</head>

<body>
    <div class="nav">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/member">Members</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
    <br>
    <h1>Sentiment&nbspAnalysis</h1>
    <hr>
    <br>
    <br>
    <br>
    <form method="POST" id="form">
        <input type="text" id="text" name="twt" placeholder="Enter text here..." autocomplete="off" required autofocus>
        <br>
        <br>
        <input class="submit" type="submit" value="PREDICT" id="predict">
    </form>
    <br>
    <br>
    <h3>{{text}}</h3>
    <br>
    <h3>{{sentiment}}</h3>
    <h3 id="ans"></h3>
    <br>
    <div class="main">
        <p>Note:</p>
        <p>
            Sentiment analysis studies the subjective information in an expression, that is, the opinions, appraisals,
            emotions, or attitudes towards a topic, person or entity. Expressions can be classified as positive,
            negative, or neutral.</p>
        <br>
        <p> For example: “I really like the new design of your website!” → Positive.
        </p>
    </div>
    <br>
    <br>
    <br>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% if script %}
        <script src='{{ url_for('static', filename='js/app.js') }}''></script>
    {% endif %}
</body>

</html>