* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("https://sentiment-analysis-web-app.herokuapp.com/static/img/bg.jpg");
  color: #fff;
  background-position: center;
  text-align: center;
  max-width: 700px;
  margin: auto;
  font-family: "Arial Rounded MT Bold";
}

div {
  float: right;
}

div ul {
  list-style: none;
}

div ul li {
  display: inline-block;
  margin: 13px;
}

div ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  margin: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
}

div ul li a.active {
  background: #fff;
  color: #404040;
}

div ul li a:hover {
  background: #fff;
  color: #404040;
}

hr {
  border: 1px solid #fff;
  margin: 5px;
}

input {
  margin: auto;
  background: transparent;
  outline: none;
  margin-bottom: 20px;
  padding: 5px;
  text-align: center;
  width: 80%;
  height: 20%;
  color: #fff;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1.3em;
  max-width: 700px;
}

.submit {
  background: #fff;
  width: 60%;
  border-radius: 20px;
  max-width: 400px;
  color: #404040;
}

p {
  text-shadow: 2px 3px 6px black;
  font-size: 1.3em;
}

.main {
  margin: 12px;
  padding: 12px;
  text-align: left;
}

#predict {
  background-color: rgb(218, 218, 218);
  border: 1px solid rgb(218, 218, 218);
}

#predict:hover {
  background-color: #fff;
  border: 1px solid #fff;
}

@media only screen and (max-width: 583px) {
  .nav {
    width: 100%;
    justify-content: space-evenly;
  }
}
