<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>File Uploader</title>
	<link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='img/icon.png')}}">
	<link rel="stylesheet" href="{{url_for('static', filename = 'css/index.css')}}">
</head>

<body>
	<div class="nav">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/member">Members</a></li>
			<li><a class="active" href="/about">About</a></li>
		</ul>
	</div><br>
	<h1>File Uploader</h1><br>
	<hr><br>
    <h2>Upload the text file</h2><br><br>
    <form action="/canvas" method="POST" enctype="multipart/form-data">
        <input type="file" name="file"><br><br>
        <input type="submit" value="Upload">
    </form>
</body>

</html>